


<div class="row">
  <div class="col-sm-6">
    <h1>Boards</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_board_path, class: 'btn btn-primary' do %>
    Add New Board
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @boards.each do |board| %>
        <%= content_tag :tr, id: dom_id(board), class: dom_class(board) do %>
          

                      <td><%= board.title %></td>
                      <td><%= board.user %></td>
          
          
            <td><%= link_to 'Show', board %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
